.ContactItem {
  width: 90%;
  margin: 10px 0;
  grid-area: item;
  .contact {
    display: flex;
    align-items: center;
    background-color:  #b8340c;
    padding: 3rem 0;
    .right-items {
      margin-left: 30px;
    }
    img {
      padding: 1rem;
      border: 1px solid #2e344e;
      margin-left: 30px;
      width: 14%;
    }
    .right-items {
      h6 {
        font-size: 1.4rem;
        font-weight: 500;
      }
    }
    &:hover {
      background-color: rgb(71, 4, 110);
      transition: 1.5s;
    }
  }
}


.ContactPage {
  display: grid;
 
  grid-template-columns: repeat(2, 2fr);
  // margin-bottom: 6rem;
  @media screen and (max-width: 1250px) {
    display: flex;
    flex-direction: column;
    .contact-sect {
      margin-left: 15px;
    }
  }
  
}

.aboutme {
  width: 90%;
  height: 97%;
  padding: 30px;
  background-color: #b8340c;
  margin-left: 15px;
  margin-top: 10px;

  &:hover {
    background-color: rgb(71, 4, 110);
    transition: 1.5s;
  }
}


.contact-sect {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.icons {
  padding-right: 50px;
}
