.slider {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  overflow: hidden;

  button {
    position: absolute;
    top: 50%;
    width: 10%;
    height: 80%;
    transform: translate(0, -50%);
    background: none;
    border: none;
    outline: none;
  }
}

.slide {
  border: 1px solid blue;
  min-width: 100%;
  height: 80vh;
  transition: 0.6s;
  overflow: hidden;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

.img__container {
  width: 100%;
  height: auto;
}

.left-icon {
  color: red;
}