@import './styles/layout';
@import './styles/navbar';
@import "./styles/homepagetext";
@import "./styles/contacts";
@import "./styles/slider";
@import "./styles/profileitem";
@import "./styles/imageSearch";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #a4acc4;
    font-size: 1.2rem;
}